@model IEnumerable<string>
@{
    ViewBag.Title = "ShowAllRoles";
}

<h2>Show All Roles</h2>
<hr />
<div>
    <div style="margin-left:20%">
        @Html.ActionLink("Create Role", "CreateRole")
    </div>


    <table class="table">
        <tr>
            <th>
                Roles
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    @if(item != "Admin")
                    {
                        @Html.ActionLink("Delete", "DeleteRole", new { roleName = item })
                    }
                    
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Back to Management Page", "Index")
</p>
