@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    MITT Team:
</address>

<address>
    <strong>Member:</strong>   <a href="mailto:Support@example.com">Willy.Gilbert@example.com</a><br />
    <strong>Member:</strong> <a href="mailto:Marketing@example.com">Sulay.Liu@example.com</a><br />
    <strong>Member:</strong> <a href="mailto:Marketing@example.com">Haris.Munir@example.com</a><br />
    <strong>Member:</strong> <a href="mailto:Marketing@example.com">Milijana.Tomic@example.com</a>
</address>