@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity;

<div class="jumbotron">
    <h1>Task Management System Dashboard:</h1>
    <p class="lead">Check your projects and tasks</p>
    <p><a href="@Url.Action("Index", "Projects")" class="btn btn-primary btn-lg">Go to projects &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>DEVELOPER'S TASK</h2>
        <p>
            Check your tasks
        </p>
        <p><a class="btn btn-success" href="@Url.Action("Index", "ProTasks", new { userId = User.Identity.GetUserId() })">Go to tasks &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>NOTIFICATIONS</h2>
        <p>Check your notifications</p>
        <p><a class="btn btn-success" href="@Url.Action("Index", "Notes", new { userId = User.Identity.GetUserId() })">Go to notification &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>